<div id="consultasPredeterminadasComponente" componente="consultasPredeterminadas"
  class="component-consultasPredeterminadas rootcomponente">

  <!-- <div id="consultaPredeterminada">
    <h4 id="" class="titulo_ConsultaPreferente"  data-i18n="TITULO_VALOR_AGRICOLA">Selección de parcela por valor agrícola</h4>
    <div class="form-row">
      <div class="form-group col-md-4 col-4 col-sm-4 col-xs-4">
          <label for="inputMunicipioCP" data-i18n="MUNICIPIOS">Municipios</label>
          <select id="inputMunicipioCP" tag="MUNICIPIO" class="form-control">
              <option selected=""></option>
              <option value="1">Abadiño</option>
              <option value="3">Amorebieta-Etxano</option>
              <option value="19">Berriz</option>
              <option value="27">Durango</option>
              <option value="32">Elorrio</option>
              <option value="34">Ermua</option>
              <option value="39">Garai</option>
              <option value="50">Izurtza</option>
              <option value="58">Mallabia</option>
              <option value="59">Manaria</option>
              <option value="91">Atxondo</option>
              <option value="95">Zaldibar</option>
              <option value="910">Iurreta</option>
          </select>
      </div>

      <div class="form-group col-md-4 col-4 col-sm-4 col-xs-4">
        <label for="inputTipoSuelo" data-i18n="TIPO_SUELO">Tipo de uso</label>
        <select id="inputTipoSuelo" tag="TIPO_SUELO" class="form-control">
            <option selected=""></option>
            <option data-i18n="HUERTO" value="Huerta">Huerta</option>
            <option data-i18n="PRADERA_F_F" value="Pradera, Fruta, Forrajero">Pradera, Fruta, Forrajero</option>
            <option data-i18n="PASTIZAL" value="Pastizal">Pastizal</option>
            <option data-i18n="FORESTAL_B_P" value="Forestal, Bosque Plantación">Forestal, Bosque Plantación</option>
          
        </select>
    </div>

    <div class="form-group col-md-4 col-4 col-sm-4 col-xs-4">
      <label for="inputSuelo" data-i18n="SUELO">Suelo</label>
      <select id="inputSuelo" tag="SUELO" class="form-control">
          <option selected=""></option>
          <option data-i18n="PREFERENTE">Preferente</option>
          <option data-i18n="VALOR_MEDIO">Valor medio</option>
          
      </select>
  </div>

    </div>

    <footer id="footer">
      <div id='botones' class="botones">
        <button data-i18n="CONSULTA" type="button" class="btnConsultar" onclick="btnConsultaPredeterminada()">Consultar</button>
        <button data-i18n="LIMPIAR" type="button" class="btnLimpiar">Limpiar</button>
      </div>
    </footer>
</div> -->

</div>