




.titulo_ConsultaPreferente{
    text-align: center;
    margin-bottom: 2rem;
}

/* #botones{
    MARGIN-LEFT: 8rem!important;
    margin-top: 0.5rem;
} */

 .btnConsultar,.btnLimpiar {

    width: 100px;
    border: none;
    padding-top: 0.4375rem;
    padding-bottom: 0.4375rem;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.625rem;
    letter-spacing: 0.0625rem;
    max-width: 15rem;
    display: inline-block;
    margin: 0.5rem;
}

 .btnConsultar, .btnLimpiar {
    width: 100px;
    border: none;
    padding-top: 0.6375rem;
    padding-bottom: 0.6375rem;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.0625rem;
    max-width: 15rem; }

.btnConsultar {
        background-color: #01599d;
        border: 0.125rem solid #035594!important;
        border-radius: 0.5rem;
    }
.btnConsultar:hover {
        color: #035594;
        background-color: #FFFFFF; }
.btnConsultar:disabled {
        color: #FFFFFF;
        background-color: #C1C1C1;
        border: 0.125rem solid #C1C1C1!important; }

.btnLimpiar {
    background-color: #333;
    border: 0.125rem solid #333; 
    border-radius: 0.5rem;
}

.btnLimpiar:hover {
      color: #333;
      background-color: #FFFFFF; 
}
.btnLimpiar:disabled {
      color: #FFFFFF;
      background-color: #C1C1C1;
      border: 0.125rem solid #C1C1C1!important; 
}



#consultaPredeterminada #botones {
    /* width: 40%!important; */
   /* width: 37%!important;*/
    width: auto;
    margin: 0 auto;
}