<div id="consultaComponente" componente="consulta" class="component-consulta rootcomponente">
     <div id="navConsulta">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a  id="consulta1" class="nav-link active" href="#" data-i18n="DATOS_GENERALES">Datos Generales</a></li>
            <li class="nav-item"><a  id="consulta2" class="nav-link" href="#" data-i18n="CARACT_FUNCIONALES">Caracteristicas funcionales</a></li>
            <li class="nav-item"><a  id="consulta3" class="nav-link" href="#" data-i18n="LITOLOGIA_EVOTRANS">Litologia y Evapotranspiración</a></li>
            <li class="nav-item"><a  id="consulta5" class="nav-link disabled" href="#" data-i18n="CALIFICACION">Calificación</a></li>
            <li class="nav-item"><a  id="consulta6" class="nav-link disabled" href="#" data-i18n="INVENTARIO_BOSQUE">Inventario Bosques</a></li>
            <li class="nav-item"> <a  id="consulta7" class="nav-link disabled" href="#" data-i18n="SIGPAC">SIGPAC</a></li>
        </ul>
    </div> 

             <div id="contenido">
                     <div id="contenidoDatosGenerales" >

                        <div class="form-row">
                            <div class="form-group col-md-3 col-3 col-sm-3 col-xs-3">
                                <label for="inputState" data-i18n="MUNICIPIOS">Municipios</label>
                                <select id="inputState" tag="MUNICIPIOS" class="form-control">
                                    <option selected=""></option>
                                </select>
                            </div>
                            <div class="form-group col-md-3 col-3 col-sm-3 col-xs-3">
                                <label for="inputAreaM2" data-i18n="AREA_M2">Superficie (m2)</label>
                                <div class="input-group ">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="btnAreaM2"> = <span class="caret" value="="></span></button>
                                        <ul class="dropdown-menu" role="menu" id="filtroAreaM2">
                                            <li><a href="#">&gt;</a></li>
                                            <li><a href="#">&lt;</a></li>
                                            <li><a href="#">=</a></li>
                                            <li><a href="#">&gt;=</a></li>
                                            <li><a href="#">&lt;=</a></li>
                                        </ul>
                                    </div>
                                    <input type="number" class="form-control" id="inputAreaM2" tag="POLY_AREA" min="0" > </div>
                            </div>
                            <div class="form-group col-md-3 col-3 col-sm-3 col-xs-3">
                                <label for="inputPoligono" data-i18n="POLIGONO">Polígono</label>
                                <input type="number" class="form-control" id="inputPoligono" tag="POLIGONO" min="0">
                            </div>
                            <div class="form-group col-md-3 col-3 col-sm-3 col-xs-3">
                                <label for="inputParcela" data-i18n="PARCELA">Parcela</label>
                                <input type="number" class="form-control" id="inputParcela" tag="PARCELA" min="0">
                            </div>
                        </div>
                        
                    </div> 
                    <div id="contenidoCF" style="display: none;">
                        <div class="form-group col-md-3 ">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch1" tag="CARRETERA" value="">
                                <label class="custom-control-label" for="customSwitch1" data-i18n="CARRETERA">Tiene carretera</label>
                            </div>
                        </div>
                        <div class="form-group col-md-4 ">
                            <label for="inputCarretera" data-i18n="NOMBRE_CARRETERA">Tipo de Carretera</label>
                            <!-- <input type="text" class="form-control" id="inputCarretera" tag="NOMBRE_CAS" > -->
                            <select id="inputCarretera" tag="NOMBRE_CAS" class="form-control" >
                                <option selected=""></option>
                               
                            </select>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <label for="inputDistanciaCarretera" data-i18n="DISTANCIA_CARRETERA">Distancia carretera</label>
                                <select id="inputDistanciaCarretera" tag="DIST_CARR" class="form-control" >
                                    <option selected=""></option>
                                    <option value="&lt;5">&lt;5m</option>
                                    <option value="&lt;=100">&lt;=100m</option>
                                    <option value="100-300">100-300m</option>
                                    <option value="300-600">300-600m</option>
                                    <option value="&gt;600">&gt;600</option>
                                </select>
                            </div>
                        </div>
                        <!-- FUENTE -->
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch2" tag="FUENTE" value="">
                                    <label class="custom-control-label" for="customSwitch2" data-i18n="FUENTE">Tiene fuente</label>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputFuente" data-i18n="TIPO_FUENTE">Nombre fuente</label>
                                <input type="text" class="form-control" id="inputFuente" tag="NOMFUENTE"> </div>
                            <div class="form-group col-md-5">
                                <label for="inputDistanciaFuente" data-i18n="DISTANCIA_FUENTE">Distancia Fuente</label>
                                <select id="inputDistanciaFuente" class="form-control" tag="DIST_FUEN" >
                                    <option selected=""></option>
                                    <option value="&lt;5">&lt;5m</option>
                                    <option value="&lt;=100">&lt;=100m</option>
                                    <option value="100-300">100-300m</option>
                                    <option value="300-600">300-600m</option>
                                    <option value="&gt;600">&gt;600</option>
                                </select>
                            </div>
                        </div>
                        <!-- ALTURA -->
                        <div class="form-row">
                            <div class="form-group col-md-3 col-3 col-sm-3 col-xs-3">
                                <label for="inputAlturaMedia" data-i18n="ALTURA_MEDIA">Altura media</label>
                                <input type="number" class="form-control" id="inputAlturaMedia" placeholder="Altura media" tag="ALT_MED">
                            </div>
                            <div class="form-group col-md-2 col-2 col-sm-2 col-xs-2">
                                <label>min</label>
                                <input class="form-control iNumeric" type="number" value="" min="0" max="2000" id="min_price" tag="ALT_MIN"> </div>
                            <div class="form-group col-md-5 col-5 col-sm-5 col-xs-5">
                                <label data-i18n="ALTURA">Rango de alturas</label>
                                <div id="slider-range" class="price-filter-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content" name="rangeInput">
                                    <div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 0%; "></div><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 0%;"></span><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 100%;"></span></div>
                            </div>
                            <div class="form-group col-md-2 col-2 col-sm-2 col-xs-2">
                                <label>max</label>
                                <input class="form-control iNumeric" type="number" value="" min="0" max="2000" id="max_price" tag="ALT_MAX"> </div>
                        </div>
                        <!-- PENDIENTE -->
                        <div class="form-row">
                            <div class="form-group col-md-3 col-3 col-sm-3 col-xs-3">
                                <label for="inputPendienteMedia" data-i18n="PENDIENTE_MEDIA">Pendiente media</label>
                                <select id="inputPendienteMedia" class="form-control" tag="PEND_MED">
                                    <option selected=""></option>
                                    <!-- <option value="4"> &lt;=4%</option>
                                    <option value="4-8">4-8% </option>
                                    <option value="8-12">8-12%</option>
                                    <option value="12-20">12-20%</option>
                                    <option value="20-30">20-30%</option>
                                    <option value="30">30%</option> -->
                                </select>
                            </div>
                            <div class="form-group col-md-2 col-2 col-sm-2 col-xs-2">
                                <label>min</label>
                                <input class="form-control iNumeric" type="number" value="" min="0" max="100" id="min_price1" tag="PEND_MIN"> </div>
                            <div class="form-group col-md-5 col-5 col-sm-5 col-xs-5">
                                <label data-i18n="PENDIENTES">Rango de pendientes</label>
                                <div id="slider-range1" class="price-filter-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content" name="rangeInput1">
                                    <div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 0%; "></div><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 0%;"></span><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 100%;"></span></div>
                            </div>
                            <div class="form-group col-md-2 col-2 col-sm-2 col-xs-2">
                                <label>max</label>
                                <input class="form-control iNumeric" type="number" value="" min="0" max="100" id="max_price1" tag="PEND_MAX"> </div>
                        </div>
                        <!-- ORIENTACION -->
                        <div class="form-row">
                            <!-- <div class="form-group col-md-3 col-3 col-sm-3 col-xs-3">
                                <label for="inputOrientacion_Media" data-i18n="ORIENTACION_MEDIA">Orientación media</label>
                                <input type="text" class="form-control" id="inputOrientacion_Media" tag="ORIENTACION_MEDIA">
                            </div> -->
                            <div class="form-group col-md-3 col-3 col-sm-3 col-xs-3">
                                <label for="inputOrientacion_Media" data-i18n="ORIENTACION_MEDIA">Orientación</label>
                                <select id="inputOrientacion_Media" class="form-control" tag="ORI_MED">
                                    <option selected=""></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id="contenidoLitologia" style="display: none;">
                        <div class="form-row">
                            <div class="form-group col-md-6 col-6">
                                <label for="inputPoligono" data-i18n="TIPO_SUELO">Tipo de suelo</label>
                                <select id="inputTIPO_SUELO" tag="COD_LITOLO" class="form-control">
                                        <option selected=""></option>
                                     
                                    </select>
                            </div>
                        </div>
                  
                        <div class="form-row">
                            <div class="form-group col-md-6 col-6">
                                <label for="inputPoligono" data-i18n="VALORES_EVAPOTRANS_SUELO">Valores de la evapotranspiración del suelo</label>
                                <select id="inputTIPO_EVAPO" tag="EVAPO" class="form-control">
                                        <option selected=""></option>
                                        
                                    </select>
                            </div>
                        </div>
                    </div>
                    <div id="contenidoCalificacion" style="display: none;">
                        <div class="form-group col-md-3 col-3 col-sm-3 col-xs-3">
                            <label for="inputZip" class="consultaLabel" data-i18n="ACT_ECONOMICAS">Actividades económicas</label>
                        </div>
                        <div class="form-group col-md-2 col-2 col-sm-2 col-xs-2">
                            <div class="input-group">
                                <input class="form-control iNumeric" type="number" value="" min="0" max="100" id="example-number-input" tag="ACT_ECON"><span class="input-group-addon">%</span></div>
                        </div>
                        <div class="form-group col-md-3 col-3 col-sm-3 col-xs-3">
                            <label for="inputZip" class="consultaLabel" data-i18n="SIST_GENERALES">Sistemas generales</label>
                        </div>
                        <div class="form-group col-md-2 col-2 col-sm-2 col-xs-2">
                            <div class="input-group">
                                <input class="form-control iNumeric" type="number" value="" min="0" max="100" id="example-number-input" tag="SIST_GEN"><span class="input-group-addon">%</span></div>
                        </div>
                        <div class="form-group col-md-3 col-3 col-sm-3 col-xs-3">
                            <label for="inputZip" class="consultaLabel" data-i18n="SUELO_NO_URB">Suelo no urbanizable</label>
                        </div>
                        <div class="form-group col-md-2 col-2 col-sm-2 col-xs-2">
                            <div class="input-group">
                                <input class="form-control iNumeric" type="number" value="" min="0" max="100" id="example-number-input" tag="NO_URBAN"><span class="input-group-addon">%</span></div>
                        </div>
                        <div class="form-group col-md-3 col-3 col-sm-3 col-xs-3">
                            <label for="inputZip" class="consultaLabel" data-i18n="SUELO_RESIDENCIONAL">Suelo residencial</label>
                        </div>
                        <div class="form-group col-md-2 col-2 col-sm-2 col-xs-2">
                            <div class="input-group">
                                <input class="form-control iNumeric" type="number" value="" min="0" max="100" id="example-number-input" tag="RESI"><span class="input-group-addon">%</span></div>
                        </div>
                    </div>
                    <div id="contenidoBosques" style="display: none;">
                        <div class="form-group col-md-3 col-3 col-sm-3 col-xs-3">
                            <label for="inputZip" class="consultaLabel" data-i18n="AFLORAMIENTOS_ROC">Afloramientos rocosos</label>
                        </div>
                        <div class="form-group col-md-2 col-2 col-sm-2 col-xs-2">
                            <div class="input-group">
                                <input class="form-control iNumeric" type="number" value="" min="0" max="100" id="example-number-input" tag="AFLOR"><span class="input-group-addon">%</span></div>
                        </div>
                        <div class="form-group col-md-3 col-3 col-sm-3 col-xs-3">
                            <label for="inputZip" class="consultaLabel" data-i18n="ARBUSTEDOS">Arbustedos</label>
                        </div>
                        <div class="form-group col-md-2 col-2 col-sm-2 col-xs-2">
                            <div class="input-group">
                                <input class="form-control iNumeric" type="number" value="" min="0" max="100" id="example-number-input" tag="ARBUS"><span class="input-group-addon">%</span></div>
                        </div>
                        <div class="form-group col-md-3 col-3 col-sm-3 col-xs-3">
                            <label for="inputZip" class="consultaLabel" data-i18n="BOSQUE">Bosques</label>
                        </div>
                        <div class="form-group col-md-2 col-2 col-sm-2 col-xs-2">
                            <div class="input-group">
                                <input class="form-control iNumeric" type="number" value="" min="0" max="100" id="example-number-input" tag="BOS_11"><span class="input-group-addon">%</span></div>
                        </div>
                        <div class="form-group col-md-3 col-3 col-sm-3 col-xs-3">
                            <label for="inputZip" class="consultaLabel" data-i18n="ENERGIA">Energía</label>
                        </div>
                        <div class="form-group col-md-2 col-2 col-sm-2 col-xs-2">
                            <div class="input-group">
                                <input class="form-control iNumeric" type="number" value="" min="0" max="100" id="example-number-input" tag="ENERGIA"><span class="input-group-addon">%</span></div>
                        </div>
                        <div class="form-group col-md-3 col-3 col-sm-3 col-xs-3">
                            <label for="inputZip" class="consultaLabel" data-i18n="EQUIPAMIENTO">Equipamiento/ dotacional</label>
                        </div>
                        <div class="form-group col-md-2 col-2 col-sm-2 col-xs-2">
                            <div class="input-group">
                                <input class="form-control iNumeric" type="number" value="" min="0" max="100" id="example-number-input" tag="EQUIP"><span class="input-group-addon">%</span></div>
                        </div>
                        <div class="form-group col-md-3 col-3 col-sm-3 col-xs-3">
                            <label for="inputZip" class="consultaLabel" data-i18n="HERBAZAL">Herbazal-Pastizal</label>
                        </div>
                        <div class="form-group col-md-2 col-2 col-sm-2 col-xs-2">
                            <div class="input-group">
                                <input class="form-control iNumeric" type="number" value="" min="0" max="100" id="example-number-input" tag="HERBAZ"><span class="input-group-addon">%</span></div>
                        </div>
                       
                        <div class="form-group col-md-3 col-3 col-sm-3 col-xs-3">
                            <label for="inputZip" class="consultaLabel" data-i18n="LAGUNAS">Lagunas</label>
                        </div>
                        <div class="form-group col-md-2 col-2 col-sm-2 col-xs-2">
                            <div class="input-group">
                                <input class="form-control iNumeric" type="number" value="" min="0" max="100" id="example-number-input" tag="LAGUNA"><span class="input-group-addon">%</span></div>
                        </div>
                        <div class="form-group col-md-3 col-3 col-sm-3 col-xs-3">
                            <label for="inputZip" class="consultaLabel" data-i18n="MARISMAS">Marismas</label>
                        </div>
                        <div class="form-group col-md-2 col-2 col-sm-2 col-xs-2">
                            <div class="input-group">
                                <input class="form-control iNumeric" type="number" value="" min="0" max="100" id="example-number-input" tag="MARISMA"><span class="input-group-addon">%</span></div>
                        </div>
                        <div class="form-group col-md-3 col-3 col-sm-3 col-xs-3">
                            <label for="inputZip" class="consultaLabel" data-i18n="MOSAICO_AGRIC">Mosaico agrícola</label>
                        </div>
                        <div class="form-group col-md-2 col-2 col-sm-2 col-xs-2">
                            <div class="input-group">
                                <input class="form-control iNumeric" type="number" value="" min="0" max="100" id="example-number-input" tag="MOSAICO"><span class="input-group-addon">%</span></div>
                        </div>
                        <div class="form-group col-md-3 col-3 col-sm-3 col-xs-3">
                            <label for="inputZip" class="consultaLabel" data-i18n="O_SUPERF_ARTIF">Artificiales</label>
                        </div>
                        <div class="form-group col-md-2 col-2 col-sm-2 col-xs-2">
                            <div class="input-group">
                                <input class="form-control iNumeric" type="number" value="" min="0" max="100" id="example-number-input" tag="ARTIF"><span class="input-group-addon">%</span></div>
                        </div>
                        <div class="form-group col-md-3 col-3 col-sm-3 col-xs-3">
                            <label for="inputZip" class="consultaLabel" data-i18n="PANTANO">Pantano, embalse</label>
                        </div>
                        <div class="form-group col-md-2 col-2 col-sm-2 col-xs-2">
                            <div class="input-group">
                                <input class="form-control iNumeric" type="number" value="" min="0" max="100" id="example-number-input" tag="PANTANO"><span class="input-group-addon">%</span></div>
                        </div>
                        <div class="form-group col-md-3 col-3 col-sm-3 col-xs-3">
                            <label for="inputZip" class="consultaLabel" data-i18n="PASTIZAL_MATORRAL">Pastizal-Matorral</label>
                        </div>
                        <div class="form-group col-md-2 col-2 col-sm-2 col-xs-2">
                            <div class="input-group">
                                <input class="form-control iNumeric" type="number" value="" min="0" max="100" id="example-number-input" tag="MATORRAL"><span class="input-group-addon">%</span></div>
                        </div>
                        <div class="form-group col-md-3 col-3 col-sm-3 col-xs-3">
                            <label for="inputZip" class="consultaLabel" data-i18n="PRADOS">Prados</label>
                        </div>
                        <div class="form-group col-md-2 col-2 col-sm-2 col-xs-2">
                            <div class="input-group">
                                <input class="form-control iNumeric" type="number" value="" min="0" max="100" id="example-number-input" tag="PRADO"><span class="input-group-addon">%</span></div>
                        </div>
                        <div class="form-group col-md-3 col-3 col-sm-3 col-xs-3">
                            <label for="inputZip" class="consultaLabel" data-i18n="PRADOS_SETOS">Prados con setos</label>
                        </div>
                        <div class="form-group col-md-2 col-2 col-sm-2 col-xs-2">
                            <div class="input-group">
                                <input class="form-control iNumeric" type="number" value="" min="0" max="100" id="example-number-input" tag="P_SETO"><span class="input-group-addon">%</span></div>
                        </div>
                       
                        
                        
                       
                       
                       
                        
                        <div class="form-group col-md-3 col-3 col-sm-3 col-xs-3">
                            <label for="inputZip" class="consultaLabel" data-i18n="BOSQUES_D_GALERIA">Bosques de Galería</label>
                        </div>
                        <div class="form-group col-md-2 col-2 col-sm-2 col-xs-2">
                            <div class="input-group">
                                <input class="form-control iNumeric" type="number" value="" min="0" max="100" id="example-number-input" tag="B_GAL"><span class="input-group-addon">%</span></div>
                        </div>
                        <div class="form-group col-md-3 col-3 col-sm-3 col-xs-3">
                            <label for="inputZip" class="consultaLabel" data-i18n="TELECOMUNICACIONES">Telecomunicaciones</label>
                        </div>
                        <div class="form-group col-md-2 col-2 col-sm-2 col-xs-2">
                            <div class="input-group">
                                <input class="form-control iNumeric" type="number" value="" min="0" max="100" id="example-number-input" tag="TELECOM"><span class="input-group-addon">%</span></div>
                        </div>
                        <div class="form-group col-md-3 col-3 col-sm-3 col-xs-3">
                            <label for="inputZip" class="consultaLabel" data-i18n="BOSQUES_D_PLANTACION">Bosques de Plantación</label>
                        </div>
                        <div class="form-group col-md-2 col-2 col-sm-2 col-xs-2">
                            <div class="input-group">
                                <input class="form-control iNumeric" type="number" value="" min="0" max="100" id="example-number-input" tag="B_PLA"><span class="input-group-addon">%</span></div>
                        </div>
                       
                        <div class="form-group col-md-3 col-3 col-sm-3 col-xs-3">
                            <label for="inputZip" class="consultaLabel" data-i18n="CURSOS_D_AGUA">Cursos de agua</label>
                        </div>
                        <div class="form-group col-md-2 col-2 col-sm-2 col-xs-2">
                            <div class="input-group">
                                <input class="form-control iNumeric" type="number" value="" min="0" max="100" id="example-number-input" tag="CUR_AGU"><span class="input-group-addon">%</span></div>
                        </div>

                       
                        <div class="form-group col-md-3 col-3 col-sm-3 col-xs-3">
                            <label for="inputZip" class="consultaLabel" data-i18n="CULTIVOS">Cultivos</label>
                        </div>
                        <div class="form-group col-md-2 col-2 col-sm-2 col-xs-2">
                            <div class="input-group">
                                <input class="form-control iNumeric" type="number" value="" min="0" max="100" id="example-number-input" tag="CULTIVOS"><span class="input-group-addon">%</span></div>
                        </div>
                 
                    

                    </div>
                    <div id="contenidoSIGPAC" style="display: none;">
                        <div class="form-group col-md-3 col-3 col-sm-3 col-xs-3">
                            <label for="inputZip" class="consultaLabel" data-i18n="CORRIENTES_AGUA_SUPERF">Corrientes y superficies de agua</label>
                        </div>
                        <div class="form-group col-md-2 col-2 col-sm-2 col-xs-2">
                            <div class="input-group">
                                <input class="form-control iNumeric" type="number" value="" min="0" max="100" id="example-number-input" tag="AG"><span class="input-group-addon">%</span></div>
                        </div>
                        <div class="form-group col-md-3 col-3 col-sm-3 col-xs-3">
                            <label for="inputZip" class="consultaLabel" data-i18n="BIALAK">Viales</label>
                        </div>
                        <div class="form-group col-md-2 col-2 col-sm-2 col-xs-2">
                            <div class="input-group">
                                <input class="form-control iNumeric" type="number" value="" min="0" max="100" id="example-number-input" tag="CA"><span class="input-group-addon">%</span></div>
                        </div>
                        <div class="form-group col-md-3 col-3 col-sm-3 col-xs-3">
                            <label for="inputZip" class="consultaLabel" data-i18n="EDIFICIOS">Edificaciones</label>
                        </div>
                        <div class="form-group col-md-2 col-2 col-sm-2 col-xs-2">
                            <div class="input-group">
                                <input class="form-control iNumeric" type="number" value="" min="0" max="100" id="example-number-input" tag="ED"><span class="input-group-addon">%</span></div>
                        </div>
                        <div class="form-group col-md-3 col-3 col-sm-3 col-xs-3">
                            <label for="inputZip" class="consultaLabel" data-i18n="FORESTAL">Forestal</label>
                        </div>
                        <div class="form-group col-md-2 col-2 col-sm-2 col-xs-2">
                            <div class="input-group">
                                <input class="form-control iNumeric" type="number" value="" min="0" max="100" id="example-number-input" tag="FO"><span class="input-group-addon">%</span></div>
                        </div>
                        <div class="form-group col-md-3 col-3 col-sm-3 col-xs-3">
                            <label for="inputZip" class="consultaLabel" data-i18n="FRUTALES">Frutales</label>
                        </div>
                        <div class="form-group col-md-2 col-2 col-sm-2 col-xs-2">
                            <div class="input-group">
                                <input class="form-control iNumeric" type="number" value="" min="0" max="100" id="example-number-input" tag="FY"><span class="input-group-addon">%</span></div>
                        </div>
                        <div class="form-group col-md-3 col-3 col-sm-3 col-xs-3">
                            <label for="inputZip" class="consultaLabel" data-i18n="IMPRODUCTIVOS">Improductivos</label>
                        </div>
                        <div class="form-group col-md-2 col-2 col-sm-2 col-xs-2">
                            <div class="input-group">
                                <input class="form-control iNumeric" type="number" value="" min="0" max="100" id="example-number-input" tag="IM"><span class="input-group-addon">%</span></div>
                        </div>
                        <div class="form-group col-md-3 col-3 col-sm-3 col-xs-3">
                            <label for="inputZip" class="consultaLabel" data-i18n="INVERNADERO">Invernadero y cultivo bajo plástico</label>
                        </div>
                        <div class="form-group col-md-2 col-2 col-sm-2 col-xs-2">
                            <div class="input-group">
                                <input class="form-control iNumeric" type="number" value="" min="0" max="100" id="example-number-input" tag="IV"><span class="input-group-addon">%</span></div>
                        </div>
                        <div class="form-group col-md-3 col-3 col-sm-3 col-xs-3">
                            <label for="inputZip" class="consultaLabel" data-i18n="PASTO_ARBUSTOS">Prado arbustivo</label>
                        </div>
                        <div class="form-group col-md-2 col-2 col-sm-2 col-xs-2">
                            <div class="input-group">
                                <input class="form-control iNumeric" type="number" value="" min="0" max="100" id="example-number-input" tag="PR"><span class="input-group-addon">%</span></div>
                        </div>
                        <div class="form-group col-md-3 col-3 col-sm-3 col-xs-3">
                            <label for="inputZip" class="consultaLabel" data-i18n="PASTO_ARBOLES">Prado con arbolado</label>
                        </div>
                        <div class="form-group col-md-2 col-2 col-sm-2 col-xs-2">
                            <div class="input-group">
                                <input class="form-control iNumeric" type="number" value="" min="0" max="100" id="example-number-input" tag="PA"><span class="input-group-addon">%</span></div>
                        </div>
                        <div class="form-group col-md-3 col-3 col-sm-3 col-xs-3">
                            <label for="inputZip" class="consultaLabel" data-i18n="TIERRAS_ARABLES">Tierras arables</label>
                        </div>
                        <div class="form-group col-md-2 col-2 col-sm-2 col-xs-2">
                            <div class="input-group">
                                <input class="form-control iNumeric" type="number" value="" min="0" max="100" id="example-number-input" tag="TA"><span class="input-group-addon">%</span></div>
                        </div>
                        <div class="form-group col-md-3 col-3 col-sm-3 col-xs-3">
                            <label for="inputZip" class="consultaLabel" data-i18n="PASTIZAL">Pastizal</label>
                        </div>
                        <div class="form-group col-md-2 col-2 col-sm-2 col-xs-2">
                            <div class="input-group">
                                <input class="form-control iNumeric" type="number" value="" min="0" max="100" id="example-number-input" tag="PS"><span class="input-group-addon">%</span></div>
                        </div>
                        <div class="form-group col-md-3 col-3 col-sm-3 col-xs-3">
                            <label for="inputZip" class="consultaLabel" data-i18n="HUERTO">Huerta</label>
                        </div>
                        <div class="form-group col-md-2 col-2 col-sm-2 col-xs-2">
                            <div class="input-group">
                                <input class="form-control iNumeric" type="number" value="" min="0" max="100" id="example-number-input" tag="TH"><span class="input-group-addon">%</span></div>
                        </div>
                        <div class="form-group col-md-3 col-3 col-sm-3 col-xs-3">
                            <label for="inputZip" class="consultaLabel" data-i18n="VINEDOS">Viñedo</label>
                        </div>
                        <div class="form-group col-md-2 col-2 col-sm-2 col-xs-2">
                            <div class="input-group">
                                <input class="form-control iNumeric" type="number" value="" min="0" max="100" id="example-number-input" tag="VI"><span class="input-group-addon">%</span></div>
                        </div>
                        <div class="form-group col-md-3 col-3 col-sm-3 col-xs-3">
                            <label for="inputZip" class="consultaLabel" data-i18n="ZONA_URBANA">Zona urbana</label>
                        </div>
                        <div class="form-group col-md-2 col-2 col-sm-2 col-xs-2">
                            <div class="input-group">
                                <input class="form-control iNumeric" type="number" value="" min="0" max="100" id="example-number-input" tag="ZU"><span class="input-group-addon">%</span></div>
                        </div>
                    </div>
                    

                    <div class="form-group col-md-12 col-12 col-sm-12 col-xs-12">
                        <div class="pie">
                        <div class="botones2" id="botones">
                            <button  type="button" class="btnConsultar" onclick="btnConsulta()" data-i18n="CONSULTA">Consulta</button>
                            <button  type="button" class="btnLimpiar" onclick="btnLimpiarConsulta()" data-i18n="LIMPIAR">Limpiar</button>
                       
                        </div>
                    </div>
                    </div> 
            </div>
        
</div>