
.botones2{
  display: flex;
  justify-content: center;
  align-items: center;
}

.jsPanel .jsPanel-standard .jsPanel-depth-5{
    max-height: auto;
}
@media only screen and (max-width: 490px) {
  .contenedor {
    top: 9em!important;
  }
  .botones {
    width: 90%!important;
    margin: 0 auto;
    }
}
@media only screen and (min-width: 480px) {
  .contenedor {
    top: 9em!important;
  }
  .botones {
    width: 90%!important;
    margin: 0 auto;
    }
}
/**/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 620px) {

     /* .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
      background: red !important;
    }  */
    
    #panelConsulta .jsPanel {
      width: 470px !important
    }
  
    #panelConsulta .jsPanel-content {
      font-size: 0.8rem !important;
      max-height: 48.5rem;
    }
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  
    #contenidoCalificacion .col-xs-2 {
      width: 80% !important
    }
    .botones {
      width: 90%!important;
      margin: 0 auto;
    }
    #consultaPredeterminada #botones{
      width: 50%!important;
      margin: 0 auto;
    }
  }
  
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 580px) {
  
    /* .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
      background: green !important;
    }  */

    .botones {
    width: 90%!important;
    margin: 0 auto;
    }
    #consultaPredeterminada #botones{
      width: 50%!important;
      margin: 0 auto;
    }
    #panelConsulta .jsPanel-content {
      font-size: 0.8rem !important;
       max-height: 48.5rem; 
    }
  
    .col-xs-1 {width: 8.33%;}
    .col-xs-2 {width: 32.33%;}
    /* .col-xs-3 {width: 25%;} */
    .col-xs-4 {width: 32.33%;}
    .col-xs-8 {width: 100%;}

     #contenidoDatosGenerales .col-xs-3 { width: 50%;} 
    #contenidoCF .col-1 {width: 8.33%;}
    #contenidoCF .col-2 {width: 100%;}
    #contenidoCF .col-3 {width: 100%;}
    #contenidoCF .col-4 {width: 100%;}
    #contenidoCF .col-5 {width: 100%;}
   
  
    #contenidoCalificacion .col-xs-2 {width: 35.33%;}
    #contenidoCalificacion .col-xs-3 {width: 50%;} 
    .input-group-addon {
      font-size:  0.9rem;
      padding: 2px 4px;
   }
   #contenidoSIGPAC .col-xs-2 {width: 50%;}
   #contenidoSIGPAC .col-xs-3 {width:  50%;}
  
   
   #contenidoDatosGenerales .col-md-2 {width: 49.33%;}
   #contenidoDatosGenerales .col-md-4 {width: 49.33%;}
  
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
  
    /* .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
      background: blue !important;
    }*/
    #consultaPredeterminada #botones{
      width: 50%!important;
      margin: 0 auto;
    }
    .botones {
      width: 64%;
      margin: 0 auto;
  }
    #panelConsulta .jsPanel-content {
      font-size: 0.85rem !important;
      max-height: 48.5rem;
    }
    .col-xs-1 {width: 8.33%;}
    .col-xs-2 {width: 25.33%;min-height: 50px;}
    .col-xs-3 {width: 24%;min-height: 50px;}
    .col-xs-4 {width: 32.33%;}
    .col-xs-8 {width: 100%;}
    /*.col-md-2, .col-md-3 {min-height:50px !important;}*/
    
    #contenidoDatosGenerales .col-xs-3 { width: 50%;}
    #contenidoDatosGenerales .col-md-2 {width: 49.33%;}
    #contenidoDatosGenerales .col-md-4 {width: 49.33%;}
 
    #contenidoCF .col-xs-1 {width: 8.33%;}
    #contenidoCF .col-xs-2 {width: 25%;}
    #contenidoCF .col-xs-3 {width: 100%;}
    #contenidoCF .col-xs-4 {width: 50%;}
    #contenidoCF .col-xs-5 {width: 50%;}
  
  
    #contenidoCalificacion .col-xs-2 {width: 38.33%;}
    #contenidoCalificacion .col-xs-3 {width: 38%;} 
    .input-group-addon {
      font-size:  0.9rem;
      padding: 2px 4px;
   }
  
   #contenidoSIGPAC .col-xs-2 {width: 40%;}
   #contenidoSIGPAC .col-xs-3 {width:  55%;}
  
  }
  
  /* Medium high devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 949px) {
  
     /*.nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
      background: violet !important;
    } */
  
    #panelConsulta .jsPanel-content {
      font-size: 0.95rem !important;
      max-height: 48.5rem;
    }
    .col-xs-1 {width: 8.33%;}
    .col-xs-2 {width: 32.33%;}
    .col-xs-3 {width: 25%;}
    .col-xs-4 {width: 32.33%;}
    .col-xs-8 {width: 100%;}
  
  
    #contenidoCF .col-xs-1 {width: 8.33%;}
    #contenidoCF .col-xs-2 {width: 25%;}
    #contenidoCF .col-xs-3 {width: 100%;}
    #contenidoCF .col-xs-4 {width: 50%;}
    #contenidoCF .col-xs-5 {width: 50%;}

    #contenidoDatosGenerales .col-xs-3 { width: 25%;}
    #contenidoDatosGenerales .col-md-2 {width: 33.33%;}
    #contenidoDatosGenerales .col-md-4 {width: 33.33%;}

    #contenidoCalificacion .col-xs-2 {width: 38.33%;}
    #contenidoCalificacion .col-xs-3 {width: 32%;} 
    .input-group-addon {
      font-size:  0.9rem;
      padding: 2px 4px;
   }
  
    #contenidoBosques .col-xs-2 {width:  23.33%;}
    #contenidoBosques .col-xs-3 {width:  26%;}
    
    #contenidoSIGPAC .col-xs-2 {width: 35%;}
    #contenidoSIGPAC .col-xs-3 {width:  45%;}

    .botones{
        width: 50%!important;
        margin: 0 auto;
      }

    #consultaPredeterminada #botones{
        width: 50%!important;
        margin: 0 auto;
      }
  }
  
  
  
  /* Large devices (laptops/desktops, 992px and up) */
   @media only screen and (min-width: 1157px) {
  
    /* .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
      background: orange !important;
    } */
  
  
    #panelConsulta .jsPanel-content {
      font-size: 1rem !important;
    }
  
    .col-xs-1 {width: 8.33%;}
    .col-xs-2 {width: 32.33%;}
    .col-xs-3 {width: 25%;}
    .col-xs-4 {width: 32.33%;}
    .col-xs-8 {width: 100%;}
  
    #contenidoCF .col-xs-1 {width: 8.33%;}
    #contenidoCF .col-xs-2 {width: 20.33%;}
    #contenidoCF .col-xs-3 {width: 26.88%;}
    #contenidoCF .col-xs-4 {width: 39.33%;}
    #contenidoCF .col-xs-5 {width: 32.33%;}
    #contenidoCF .col-xs-8 {width: 100%;}
  
    #contenidoCalificacion .col-xs-2 {width: 22.33%;}
    #contenidoCalificacion .col-xs-3 {width: 27.67%;} 
    .input-group-addon {
      font-size:  0.9rem;
      padding: 2px 8px;
   }
  
   #contenidoBosques .col-xs-2 {width:  23.33%;}
   #contenidoBosques .col-xs-3 {width:  26%;}
  
   #contenidoDatosGenerales .col-md-2 {width: 33.33%;}
   #contenidoDatosGenerales .col-md-4 {width: 33.33%;}

   #contenidoSIGPAC .col-xs-2 {width: 23.33%;}
   #contenidoSIGPAC .col-xs-3 {width:  26%;}
    .botones{
      width: 40%!important;
      margin: 0 auto;
    }

    #consultaPredeterminada #botones{
      width: 50%!important;
      margin: 0 auto;
  }
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
   @media only screen and (min-width: 1200px) {
  
   /* .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
      background: pink !important;
    } */
  
     #panelConsulta .jsPanel-content {
      font-size: 1rem !important;
    } 
    .col-xs-1 {width: 8.33%;}
    .col-xs-2 {width: 32.33%;}
    .col-xs-3 {width: 25%;}
    .col-xs-4 {width: 32.33%;}
    .col-xs-8 {width: 100%;}
  
  
    #contenidoSIGPAC .col-xs-2 {width: 24.33%;}
    #contenidoSIGPAC .col-xs-3 {width:  25%;}
    #contenidoDatosGenerales .col-md-2 {width: 33.33%;}
    #contenidoDatosGenerales .col-md-4 {width: 33.33%;}

    .botones {
      width: 38%!important;
      margin: 0 auto;
  }
  #consultaPredeterminada #botones{
    width: 50%!important;
    margin: 0 auto;
}

  }
  
  @media (max-width: 595px) { 
    .nav-tabs > li {
        float:none;
    }
  }

  @media only screen and (min-width: 1288px) {
    /* .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
      background: rgb(47, 99, 5) !important;
    } */
    #contenidoBosques .col-xs-2 {width: 16.5%;}
    #contenidoBosques .col-xs-3 {width: 16.5%;} 
    #contenidoSIGPAC .col-xs-2 {width: 16.5%;}
    #contenidoSIGPAC .col-xs-3 {width:  16.5%;}

    #contenidoDatosGenerales .col-md-2 {width: 33.33%;}
    #contenidoDatosGenerales .col-md-4 {width: 33.33%;}
  }


  @media only screen and (min-width: 1340px) {
    /* .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
      background: grey !important;
    } */
    .col-xs-1 {width: 8.33%;}
    .col-xs-2 {width: 16.66666667%;}
    .col-xs-3 {width: 25%;} 
    .col-xs-4 {width: 33.25%;}
    .col-xs-5 {width: 41.66%;}
    .col-xs-6 {width: 50%;}
    .col-xs-7 {width: 58.33%;}
    .col-xs-8 {width: 66.66%;}
    .col-xs-9 {width: 75%;}
    .col-xs-10 {width: 83.33%;}
    .col-xs-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}  
   
    #contenidoBosques .col-xs-2 {width: 16%;}
    #contenidoBosques .col-xs-3 {width: 16%;} 
  }
  
   label {
    display: inline;
  }

  .col-md-12 {
    width: 100%;
    padding: 0;
}




@media only screen and (max-height: 740px){
#panelConsulta .jsPanel-content {
    max-height: 32.5rem;
  }
}
