#tInfo {
    width:55%;
}

th{
	padding-right: 20px;
}
div#tabla-info.tabulator div.tabulator-tableHolder{
    overflow: hidden!important; 
}



.tabulator .tabulator-header {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    border-bottom: 3px solid #01599d;
    background-color:  #ffffff;
    color: black;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
  }



.tabulator .tabulator-header .tabulator-col {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    border-right: 1px solid #aaa;
    background: #ffffff;
    text-align: left;
    vertical-align: bottom;
    overflow: hidden;
}
.tabulator {
    position: relative;
    border: 1px solid #999;
    background-color: #ffffff;
}
/* .tabulator-row.tabulator-selectable:hover {
    background-color: rgba(1, 89, 157, 0.3);
    cursor: pointer;
  } */

/*ESTILOS */
div.tabulator-group-toggle{
    display: inline!important;
}
.tabulator-row.tabulator-group span {
    margin-left: 10px;
    color: #d00;
    display: none;
}

.tabulator-row.tabulator-group {
    box-sizing: border-box;
    border-bottom: 2px solid #01599d;
    border-right: 1px solid #aaa;
    /* border-top: 1px solid #999; */
    padding: 5px;
    padding-left: 10px;
    background: #fff;
    font-weight: 700;
    min-width: 100%;
}

#example-table .tabulator   {
    width: 350px!important;
} 


